.nav {
    width: 100%;
    min-height: 60px;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav h1 {
    font-weight: 900;
    letter-spacing: 1px;
    user-select: none;
}

.userD {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 8px;
}

.userD:hover {
    background-color: var(--sec);
}

.userD img {
    border-radius: 40px;
    margin-right: 12px;
}

.userD span {
    font-weight: 900;
    text-transform: lowercase;
}